body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
header{
    background-color: #041937;
    color: white;
    height: 90px;
}
.header-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    
}
.logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 800;
}
.navigation{
    display: flex;
    justify-content: center;
}
nav{
    margin-right: 50px;
    font-size: 14px;
    font-weight: 500;
}
.booknow-btn{
    background-color: #041937;
    color: white;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    
}
.contact-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    background-color:#041937 ; 
    padding-top: 50px;
}
.contact-div{
    justify-content: space-between;
}

/* Contact left side */
.contact-first{
margin-left: 100px;
}
.contact-first p{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
.contact-first h1{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
/* contact input  */
.contact-input{
    width: 50%;
}
input{
    width: 425px;
    height: 40px;
    border: 2px solid #041937;
    border-radius: 5px; 
    margin-bottom: 10px;
    padding-left: 20px;
}
input::placeholder{
    color: #041937;
    font-size: 15px;
}
textarea{
    border: 2px solid #041937;
    padding-left: 20px;
    padding-top: 15px;
    width: 425px;

}
textarea::placeholder{
    color: #041937;
    font-size: 15px;
}
.contact-second{
    margin-right: 100px;
    width: 40%;
}
.contact-second h1{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.contact-second p{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
.icon-contact{
    align-items: center;
}
.icon-contact h4{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 15px;
    align-items: center;
}
.icon-contact i{
    padding-right: 20px;
    font-size: 30px;
}
span{
    font-size: 15px;
    /* padding-left: 60px; */

}

.whatapp{
    display: flex;
    width: 0 auto;
    height: 400px;
    justify-content: center;
    gap: 300px;
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}
.whatapp-text{
    margin-left: 100px;
    width: 450px;
    text-align: center;
}
.whatapp-img{
margin-right: 100px;
width: 300px;
height: 400px;
border-radius: 40px;
overflow: hidden;
}
.whatapp-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
footer{
    background-color: #041937;
    color: #ffffff;
}
.footer-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 300px;
	margin-left: 90px;
}
.footer1{
    line-height: 35px;
}
.footer2{
    line-height: 35px;
}
.footer3{
    line-height: 35px;
}
.footer4{
    line-height: 35px;
}