body{
    margin: 0;
    padding: 0;
}
.cent{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8)), url(./image/black\ sci.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
 .register{
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 10px 40px;
    width: 50%;
}
.reg-box{
    margin-top: 30px;
    color: white;
    height: 40px; 
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 
@media screen and (min-width:476px){
    label{
        display: none;
    }
}

.input-text{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

input{
    display: flex;
    width: 360px;
    border-radius: 5px;
    height: 40px;
    border: 2px solid silver;
    background: none;
    font-size: 18px;
    outline: none;
    padding-left: 10px;
    color: silver;
}
label{
    display: flex;
    align-items: center;
    width: 250px;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    padding-right: 30px;
}
select{
    display: flex;
    font-size: 18px;
    width: 370px;
    border-radius: 5px;
    height: 40px;
    border: 2px solid silver;
    color:rgb(32, 30, 30)4, 32, 32);
    background: none;
    outline: none;
}
option{
    background: none;
}
button{
    margin-top: 30px;
    background-color: transparent;
    color: white;
    margin-bottom: 30px;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    
}
button:hover{
    background: none;
    border: 2px solid #ffffff;
    transform: scale(1.1);
    transition: 0.5s ease-in;
}