
body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #041937;
    color: white;
    height: 90px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
}
.header-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 800;
}
.navigation{
    display: flex;
    justify-content: center;
}
nav{
    margin-right: 50px;
    font-size: 14px;
    font-weight: 500;
}
.booknow-btn{
    background-color: #041937;
    color: white;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    
}
.section1{
    background-color: #041937;
    color: #ffffff;
    margin-top: 90px;
    height: 800px;
    width: 100%;
}
.section-top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    

}
.services{
    width: 45%;
    font-size: 38px;
}
.services-text{
    width: 45%;
}
.service-images{
    display: flex;
    justify-content: center;
}
.service-img1{
    width: 280px;
    height: 250px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}
.service-img1 img{
    width: 280px;
    height: 250px;
    border-radius: 8px;
}
.service-images2{
    display: flex;
    justify-content: center;
}

.questions{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px; 
    
}

.questions_p {
    padding-bottom: 70px;
}

.service_icon i{
    font-size: 24px;
    padding-right: 20px;
    
}

.my-butt{
    background-color: #041937;
    color: white;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
    
}
.questions_p p{
    width: 420px;
    margin-bottom: 50px;
    line-height: 25px;
}

footer{
    background-color: #041937;
    color: #ffffff;

}
.footer-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 300px;
    margin-left: 90px;
}
.footer1{
    line-height: 35px;
}
.footer2{
    line-height: 35px;
}
.footer3{
    line-height: 35px;
}
.footer4{
    line-height: 35px;
}
i{
    margin-right: 10px;
}



