body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;

    background-color: #041937;
    /* padding-left: 5%;
    padding-right: 5%; */
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}
/* header{
    background-color: #041937;
    color: white;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;

} */
.header-sec{
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.logo{
   width: 50px;
   cursor: pointer;
   margin: 30px 0;
}
.fa-solids{
    width: 20px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
nav ul li a:hover{
    color: skyblue;
    border-bottom: 2px solid;
    transform: scale(1.2);
    transition: 0.5s ease-in;
    padding-bottom: 10px;
}


.booknow-btn{
    background-color: #041937;
    color: white;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.booknow-btn:hover{
    
    transition: 0.5s ease-in;
    color: skyblue;
    outline: none;
    border: none;
}
.booknow-btn1{
    background-color: #041937;
    color: white;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 10px;
}
.booknow-btn1:hover{
    transition: 0.5s ease-in;
    color: skyblue;
    border: none;
    outline: none;
}

.hero_btn{
    background-color: #041937;
    color: white;
    border-radius: 18px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 140px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
    color: #ffffff;
    
}
.hero-text{
    flex-basis: 40%;
    position: relative;
}

.hero h1{
    font-size: 54px;
}

.hero p{
    line-height: 30px;
    margin: 20px 0 30px;
    font-size: 18px;
    font-weight: 100;
}

.hero-img{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center; 
}
.hero-img .nurse{
    width: 100%;
}
.box-hero{
    animation-name: moveBox;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
    left: 0;
    margin-right: 10px;
    transform: translateX(110px);
}
@keyframes moveBox{
    0%{
        
        left: 0;
        top: 80px;
      
    }
    100%{
        
        top: 0;
        left: 0;
    }
}
.nurse{
    z-index: 2;
    position: absolute;
    left: 0;
}
.hero-nurse{
    position: absolute;
    right: 0;
    bottom: 200px;
    height: 100%;
    width: 80%;
    z-index: 1;
    transform: translateX(120px);
}
.hero-bk-img{
    animation-name: circleBox;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
    left: 0;
    
}@keyframes circleBox{
    0%{
        
        left: 0;
        top: 0;
      
    }
    100%{
        
        top: 60px;
        left: 0;
    }
}

.hero0{
    width: 90%;
    height: 400px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041937;
    color: #ffffff;
    gap: 20%;
    
}
.have-q{
    /* width: 50%; */
    /* padding-left: 5%; */
}
.reach-out{
    /* width: 50%; */
}

.hero1{
    background-color: #ffffff;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(166, 165, 165, 0.33);
}
.popular{
    width: 340px;
    padding-left: 30px;
}
.short-test {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    line-height: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.service-line{
    border-bottom: 2px solid rgba(128, 128, 128, 0.484);
    padding-bottom: 10px;

}
.service-line:hover{
    border-bottom: 3px solid #041937;
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.popular2 p{
    margin-right: 140px;
    font-size: 20px;
    color: #041937;
}
.short-test a{
    color: #041937;
}
.test-explain-image{
    width: 280px;
    height: 250px;
    border-radius: 10px;
    padding-right: 120px;
}
.test-explain{
    width: 500px;
}
.test-explain p{
    color: #041937ae;
    font-size: 17px;
}
.explains-test{
    display: flex;
    justify-content: center;
    height: 280px;
    margin-top: 20px;
    gap: 60px;
     
}
.test-explain-image img{
    width: 280px;
    height: 280px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 15px;
}


.view-more{
    background-color: #041937;
    color: white;
    border-radius: 25px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 15px;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.view-more:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in;
    border-bottom: 2px solid;
}
.hero2{
    background-color: white;
    height: 450px;
}
.testimonial{
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-top: 50px;

}

.testimonial-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-left: 5%;
}
.test_card{
    background: linear-gradient(#041937b3, #031023, #041937);
    /* background-color: #041937; */
    height: 200px;
    width: 250px;
    border-radius: 10px;
    color: #ffffff;
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.test_card p{
    font-size: 14px;
    line-height: 20px;
}
.test_card-location{
    color: #67a2b4ad;
    font-style: italic;
}
.lab-partner{
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 40px;
    background-color: #ffffff;
}
.lab-logo img{
    
    margin: 20px 50px 0 0;
}
.lab-logo{
    width: 90%;
    animation-name: logoBox;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
    left: 0;
    margin-bottom: 30px;

    
}@keyframes logoBox{
    0%{
        
        left: 0;
        top: 0;
      
    }
    100%{
        
        top: 0px;
        left: 100px;
    }
}
.hero3{
    background-image: url(./image/missionBackground.jpeg);
    color: #ffffff;
    text-align: center;
    height: 400px;
    width: 100%;
}
.mission{
    padding-top: 70px;
    margin: 0 auto;
    width: 90%;
   
}
.mission p{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

footer{
    background-color: #041937;
    color: #ffffff;
}
.footer-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 90%;
    height: 300px;
    margin-left: 90px;
    cursor: pointer;
}
.footer1{
    line-height: 35px;
}
.footer2{
    line-height: 35px;
}
.footer3{
    line-height: 35px;
}
.footer4{
    line-height: 35px;
}
i{
    margin-right: 10px;
}

#sl-xx-b{
display: none;
}
#sl-xx-c{
display: none;
}
#sl-xx-d{
display: none;
}



@media screen and (max-width: 470px) {
    body{
        overflow-x: hidden;
    }
    nav ul{
        width: 100%;
        background-color: rgb(22, 52, 63);
       
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 100;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #ffffff;
    }
    .fa-solids{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 2s;
    }
    .hero{
        flex-direction: column-reverse;
        margin: 10px 0;
    }
    .hero-img{
        flex-basis: 100%;
        margin-bottom: 50px;
        height: 90%;
        width: 90%;
    }
    .hero-img .nurse{
        width: 77%;
    }
    .nurse{
        display: flex;
        justify-content: center;
        margin-top: 75px;
        padding-bottom: 40px;

    }
    .nurse img{
        width: 90%;
        height: 90%;
        object-fit: cover;
        margin-top: 75px;
    }
    .box-hero{
        transform: translateX(40px);
        height: 50px;
        width: 50px;
    }
    .hero-bk-img{
        display: none;
    }
    .hero-text h1{
        font-size: 32px;
    }
    .hero-text p{
        font-size: 12px;
        line-height: 20px;
    }
     .booknow-btn{    
        border: 2px solid #041937;
        font-size: 16px;
        font-weight: 200;
        color: #ffffff;
    }
     .booknow-btn1{  
        border: 2px solid #041937;
        font-size: 16px;
        font-weight: 200;
        color: #ffffff;
    }
    .hero0{
        display: flex;
        justify-content: center;
        padding-left: 5%;
        gap: 10px;
    }
    .have-q h1{
        
    }
   
}